snippet alap "basic skeleton for Go" b
package main

import (
    "fmt"
)

var p = fmt.Println
var pf = fmt.Printf
var spf = fmt.Sprintf


func main() {
    $0p("hello")
}
endsnippet

snippet jgl "jabbagolib" b
"github.com/jabbalaci/jabbagolib/$0"
endsnippet
